body {
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 2;
    box-sizing: border-box;
    
  }

  header, footer {
    background-color: #299129;
    color: #fff;
    padding: 10px;
    text-align: center;
    size-adjust: auto;
  }

  .Contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .boton[type="submit"] {
    padding: 5px 50px;
    background-color: #299129;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  input[type="number"]:hover {
    background-color: #dfe0df71;
  }
  button[type="submit"]:hover {
    background-color: #032405;
  }

  .formulario{
    text-align: center;
    background-color: #daf0dc5e;

  }
  
  .opcion {
    display: flex;
    flex-direction: column;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  
}

.pregunta {
  margin-bottom: 20px;
  padding: 10px;
  border: #b2b4b2 1px solid;
  background-color: #daf0dc5e;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select, input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.opcion {
  position: relative;
  
}

.opcion label {
  
  top: -25px;
  left: 10px;
  font-size: 14px;
  color: #666;
  
}

.opcion .fila {
  display: flex;
  flex-direction: column;
}
